<div class="card w-full bg-blue-300">
    <div class="grid card rounded-box place-items-center">
        <div class="note-header">
            <div class="note-actions">
                <!-- <button class="btn btn-circle btn-outline" onclick="editNoteModal(${note.id})">Editar</button>
                <button class="btn btn-circle btn-outline" onclick="deleteNoteModal(${note.id})">Eliminar</button> -->
                <input type="checkbox" class="checkbox" />
                <div class="divider divider-horizontal"></div>
                <span class="label-text">${note.content}</span>
            </div>
        </div>
    </div>
    </div>