<div class="card w-full text-neutral-content">
    <!-- Mitad superior -->
    <div class="grid card rounded-box place-items-center bg-blue-300">
        <label class="label cursor-pointer">
          <button class="btn btn-circle btn-outline">Pintar</button>
          <input type="checkbox" class="checkbox" />
        </label>
       
      <!-- Mitad interior -->
      <div>
        <button class="btn btn-circle btn-outline">Mover</button>
        <button class="btn btn-circle btn-outline">Borrar</button>
        <button class="btn btn-circle btn-outline">Editar</button>
        <button class="btn btn-circle btn-outline">Pintar</button>
        <input type="checkbox" class="checkbox" />
        <span class="label-text">Nota</span> 
      </div>
    </div>  
  </div>