.menu-options {
    display: none; /* Oculta el menú por defecto */
}

.menu-open .menu-options {
    display: block; /* Muestra el menú cuando la clase .menu-open está presente */
}

.menu-button:hover {
    cursor: pointer; /* Cambia el cursor a una mano cuando el usuario pasa el ratón por encima del botón */
}

.app-toolbar-options {
    display: none;
}

.app-toolbar .app-toolbar-options-open {
    display: block;
}

header {
    background-color: rgb(9, 187, 227);
    padding: 10px;
    text-align: center;
}

footer {
    background-color: rgb(9, 187, 227);
    padding: 10px;
    text-align: center;
}